*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;

  font-size: inherit;
  font-family: inherit;

  color: currentColor;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;

  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.3px;

  color: var(--color-body-text);
  background-color: var(--color-bg-tertiary);

  overflow: hidden auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading-text);
  line-height: 1.25;
}
